/*
 author: luna aphelion
 contact: luna-aphelion@outlook.com
 */

:root {
	--text-colour: #D11070;
}

body{
	font-size: 100px;
	background-color: #3C3945;
	font-family: Montserrat;
  background-image: url(./bgs/purplenebula.png);
  color: var(--text-colour);
	background-size: cover;
}

.parent {
	font-family: Montserrat;
	display: flex;
	font-size: 40px;
}

.socials{
	flex: 1;
}

.media {
	flex: 1;
}

.other {
	flex: 1;
}

a {
	text-decoration: none;
	color: var(--text-colour);
}
.padding {
	padding-top: 100px;
}
.weather {
	font-size: 20px;
	height: 20px;
}
.weather-container{
	font-size: 40px;
	height: 20px;
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Light.ttf);
}
