/*
 author: luna aphelion
 contact: luna-aphelion@outlook.com
 */

body{
	font-size: 100px;
	background-color: #3C3945;
	font-family: Montserrat;
}

.parent {
	font-family: Montserrat;
	display: flex;
	font-size: 40;
}

.socials{
	flex: 1;
	font-size: 40px;
}

.media {
	flex: 1;
	font-size: 40px;
}

.other {
	padding-right: 10;
	flex: 1;
	font-size: 40px;
}

a {
	text-decoration: none;
	color: #F7C7B2;
}
.padding {
	padding-top: 100px;
}
.weather {
	font-size: 20px;
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Light.ttf);
}
